<!-- Carregando o Estilo CSS BootStrap definido na página base.html -->
{% extends 'investimentos/base.html' %}
<!-- Carregando o Estilo da biblioteca Crispy Forms-->
{% load crispy_forms_tags %}
<!-- Carregando o Bloco Conteúdo definido na página base.html -->
{% block conteudo %}
<!-- Centralizando a Tabela usando uma div com a class="container" -->
<div class="container" style="padding:30px">
    <h1>Você saiu do sistema</h1>
    <!-- CRUD Delete -->
    <form method='POST'>
        <!-- Segurança do Django: obrigatória para o envio de informações -->
        {% csrf_token %}
        <!-- Link p/ redirecionar o usuário para a página de Login -->
        <a href="{% url 'login' %}">Fazer Login novamente</a>
    </form>
</div>
    <!-- Finalizando o Bloco -->
{% endblock %}